@charset "utf-8";


main {
    margin: 0 2rem;
}

main h1 {
    margin: 0 2rem 2rem;
}

main h2 {
    margin: 0 2rem 1rem;
}

main p {
    margin: 0 1rem 2rem;
    font-size: 1rem;
}

#Formations section, #Profs article {
    margin-bottom: 2rem;
}

main #Formations section:nth-child(odd)
{
    background-color: var(--secondary-grey);
    border-radius: 0.5rem;
}

